.title {
	margin-top: "5%";
}

// .emptyButton {
// 		width: 150px;
// 		[theme.breakpoints.down("xs")]: {
// 			marginBottom: "5px",
// 		},
// 		[theme.breakpoints.up("xs")]: {
// 			marginRight: "20px",
// 		}
// 	}

.checkoutButton {
	width: 150px;
}

.cardDetails {
	display: flex;
	margin-top: 10%;
	width: 100%;
	justify-content: space-between;
}
