@import "../../sassStyles/mixins.scss";

.Card {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
	@include flex-items($just-cont: center, $flex-wrap: wrap);
	gap: 90px;
	flex-grow: 1;

	&__Media {
		width: auto;
		max-width: 350px;
		height: auto;
		max-height: 350px;
		padding: 50px 0;
	}

	&__Content {
		min-width: 350px;
		width: 40%;
		margin: 20px;
		@include flex-items($just-cont: center, $flx-dir: column);
		gap: 10px;

		> p {
			font-size: 15px;
		}
	}

	&__Action {
		@include flex-items;
		padding: 25px 0;
		min-width: 90%;
		margin: 0 auto;

		> div > label {
			padding: 0 10px;
		}
	}
}
