@import "../../sassStyles/mixins.scss";

.Slider {
	margin: 5%;
	height: 55vh;
	@include flex-items($just-cont: center);

	&__Slide {
		transition-duration: 1.5s ease;

		&__image {
			margin: 0 auto;
			padding: 0 300px;
			width: auto;
			max-width: 500px;
			max-height: 450px;
			height: auto;
		}
	}

	&__left {
		font-size: 55px;
		cursor: pointer;
		z-index: 5;
		user-select: none;
	}

	&__right {
		font-size: 55px;
		cursor: pointer;
		z-index: 5;
		user-select: none;
	}
}
