@import "../../sassStyles/mixins.scss";

.slider {
	margin-top: 5vh;
	height: 60vh;
	@include flex-items($just-cont: center);

	> img {
		border-radius: 10px;
		width: auto;
		max-width: 500px;
		max-height: 400px;
		height: auto;
	}

	&__left {
		// position: absolute;
		// top: 50%;
		// left: 32px;
		font-size: 55px;
		cursor: pointer;
		z-index: 5;
		user-select: none;
	}

	&__right {
		// position: absolute;
		// top: 50%;
		// right: 32px;
		font-size: 55px;
		cursor: pointer;
		z-index: 5;
		user-select: none;
	}
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide-active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.1);
}
