/* SCSS RGB */
$isabelline: rgba(242, 238, 231, 1);
$white: rgba(255, 255, 255, 1);
$tan-crayola: rgba(220, 157, 103, 1);
$eerie-black: rgba(33, 33, 33, 1);

$gradient-top-right: linear-gradient(
	45deg,
	#f2eee7ff,
	#ffffffff,
	#dc9d67ff,
	#212121ff
);
$gradient-bottom-right: linear-gradient(
	135deg,
	#f2eee7ff,
	#ffffffff,
	#dc9d67ff,
	#212121ff
);
$gradient-top-left: linear-gradient(
	225deg,
	#f2eee7ff,
	#ffffffff,
	#dc9d67ff,
	#212121ff
);
$gradient-bottom-left: linear-gradient(
	315deg,
	#f2eee7ff,
	#ffffffff,
	#dc9d67ff,
	#212121ff
);
